<template name="footer">
  <footer class="footer">
    <div class="container" style="margin:0;">
        <div class="navbar">
          <div class="navbar-header">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{pathFor 'about'}}">About</a></li>
                    <li><a href="{{pathFor 'terms'}}">Terms</a></li>
                    <li><a href="{{pathFor 'press'}}">Press</a></li>
                    <li><a href="{{pathFor 'contact'}}">Contact</a></li>
                    <li><a href="{{pathFor 'denied'}}">Access Denied</a></li>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </footer>
</template>
