//main.scss
@import 'base/_variables.scss';
@import 'layout/nav.scss';
@import 'views/landing.scss';


h1,h2{
  font-family: 'HelveticaNeue-Bold', sans-serif;
}
//fonts
.navbar-default .navbar-nav,
li>a{
  font-family: 'HelveticaNeue-Bold', sans-serif;
}
p,h3,h4{
  font-family: $garamond;
}
html, body {
    height: 100%;
}

#main{
  min-height: 100%;
}
.btn, button{
  background-color: $green;
  color: white;
  font-family: $helvet;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: lighter;
}
button{
  border:none;
  padding: 3px 10px;
}
.btn-danger{
  background-color: $red;
}
#facebook-login{
  background-color: #3b5998;
  border-color: #3b5998;
}

accounts-dialog label {
    display: inline;
    color: white;
}
#login-buttons {
    display: inline-block;
    margin-right: 0.2px;
    line-height: 1;
    position: absolute;
    right: 20px;
    top: 20px;
}
#users-online{
  position: absolute;
  right: 10%;
  ul{
    list-style-type: none;
    text-align: right;
    li{
      text-align: right;
    }
  }
  .uploaded-image{
    height: 30px;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    width: 30px;
  }
}
