<template name= "editProduct">
<div class="container" id="editProduct">
  <h2>Edit Product</h2>
  <form class="main" role="form" id="edit-product">
    <div class="form-group">
      <div class="control-group">
        <label for="name" class="control-label"></label>
        <div class="controls">
          <input name="name" type="text" value="" placeholder="Name of New Product">
        </div>
      </div>
      <div class="control-group">
        <label for="price" class="control-label"></label>
        <div class="controls">
          <input name="price" min="0.01" step="0.01" max="2500"  placeholder="Price of New Product">
        </div>
      </div>
      <div class="control-group">
        <label for="description" class="control-label"></label>
        <div class="controls">
          <textarea name="description" placeholder="Description of Product" type="text"></textarea>
        </div>
      </div>
      <div class="control-group">
          <div class="controls">
              <input type="submit" value="Submit"  class="btn btn-large" id="product-button">
          </div>
      </div>
      <hr/>
      <div class="control-group">
          <div class="controls">
              <a class="btn btn-danger delete" href="#">Delete post</a>
          </div>
      </div>
    </div>
  </form>
</div>

</template>
