<!-- view for user's own profile to see when he/she is logged in -->
<template name="userProfile">
  <div id="userPro" class="container">
    <div id="profile" class="row">
      <div class="col-md-4">
        <img src="/images/profile.jpg" alt="" class="profile-img">
        <h1 class="username">{{username}}</h1>
        <div class="profile-content">
          <p>{{email}}</p>
          <p>New Product</p>
          <a class="add-product" href="{{pathFor 'addProduct'}}"><i class="fa fa-plus-circle"></i></a>
        </div>

      </div>
      <div class="col-md-2"></div>
      <div id="closet" class="col-md-6">
        <div class="row">
          <p style="padding-left:12px;">{{username}}'s Closet</p>

          {{#each products}}
          <div class="col-md-6 product">
            <img src="/images/product.jpg" alt="" class="stock img-responsive">
            <div class="description">
              <a class="avatar product-desc"> </a>
              <p class="product-desc">${{price}}</p>
              <p class="Title product-desc"><a href="{{pathFor 'productPage'}}">{{name}}</a></p>

              <!-- <p class="author product-desc">{{author}}</p> -->
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>






<!-- <h1>Profile</h1>
<img src="{{image}}" alt="" />
<h2>{{username}}</h2>
<p>{{email}}</p>
<form class="new-task">
  <input type="text" name="text" placeholder="Type to update username" />
</form>
<ul class="nav">
  <li><a href="{{pathFor 'addProduct'}}">New Product</a></li>
</ul> -->
