<!-- <template name="register">
  <img src="/images/logo-white.png" alt="">
  <div class="row">
    <div class="col-md-6">
      <form role="form">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" placeholder="User Name" class="form-control" id="username">
        </div>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" placeholder="Email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" placeholder="Password" class="form-control" id="password">
        </div>
        <div class="form-group">
          <label for="pwd">Confirm Password:</label>
          <input type="password" placeholder="Confirm Password" class="form-control" id="password-again">
        </div>

      <button class="btn btn-large" id="register-button" type="submit">Register</button>
      <button id="facebook-login" class="btn btn-default"> Register with Facebook</button>

      </form>
    </div>
  </div>
</template> -->
