<template name="registerModal">
  <div class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">

              <div class="modal-header">
                  <h4 class="modal-title">Thank You For Registering</h4>
              </div>

              <div class="modal-body">
                <p>By continuing you are agreeing to the following terms: <br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit accusamus nam, perferendis nulla est corporis eaque, illum reiciendis accusantium ipsum repellendus ipsa vel praesentium facilis voluptatibus, ratione unde suscipit alias.</p>

              </div>

              <div class="modal-footer">
                  <p>A confirmation Email has been sent to your email.  To Buy and Sell please verify your email address.</p>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>

          </div>
      </div>
  </div>
</template>
